{% extends "learning_logs/base.html" %}

{% block content %}
    <p>Add a new topic:</p>

    <form action="{% url 'learning_logs:new_topic' %}" method='post'> <!-- defines the form, sends data to new_topic, browser submits as a post request-->
        {% csrf_token %} <!--prevents against cross site request forgery -->
        {{ form.as_p }} <!-- display form, as_p puts it in paragraph format -->
        <button name = "submit">add topic</button> <!-- creating our own submit button -->
    </form>
{% endblock content %}